/**页面主体框架**/
.pageFrame{display:flex;height:100%;flex-direction: column;background-color: #f7f7f7;}
.pageHeader{width:100%;height:0.88rem;display:flex;justify-content: space-between;padding:0 0.32rem;align-items: center;background-color: #fff;}
.headerMiddle{flex:1;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.headerMiddle-text{font-size:0.36rem;color:#333;font-weight: bold;width:80%;}
.headerLeft,.headerRight{width:1.2rem;height:100%;display:flex;align-items: center;}
.headerLeft{text-align: left;}
.headerRight{text-align: right;flex-direction: row-reverse;}
.headerLeft span,.headerRight span{font-size:0.28rem;color:#333;}
.headerLeft img,.headerRight img{width:0.3rem;height:0.3rem;padding:10rem 0;}
.headerLeft img:nth-child(2){margin-left:20px;}
.pageContent{flex:1;overflow-y: auto;}
.pageFooter{height:0.9rem;}

.pd30{padding:0.3rem;}
.mt25{margin-top:0.25rem;}
.f28c6a{font-size:0.28rem;color:#6a6a6a;}
/*背景颜色*/
/*青绿*/
.Darkgreen{background-color: #2dcdb0;}
.Darkyellow{background-color: #f5b12a;}

/*按钮*/
.btn-big{width:100%;height:100%;border:none;font-size:0.3rem;color:#fff;}



/** 弹窗 **/
.msgPopup {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 106;}
.msgPopupWrap {width: 5rem;position: absolute;top: -20%;left: 50%;margin-left: -2.5rem;padding-top: 0.35rem;border-radius: 0.15rem;background-color: #fff;overflow: hidden;z-index: 11;opacity: 0;
    transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
.msgPopupWrap.popup-show {top: 20%;opacity: 1;}
.msgPopupbg {position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: #000;z-index: 1;opacity: 0;transition: opacity 0.1s linear;-webkit-transition: opacity 0.1s linear;}
.msgPopupbg.popup-show {opacity: 0.35;}
.msgPopupImg img {width: 2.36rem;display: block;margin: 0 auto;}
.msgPopupAudioImg img {width: 1.56rem;display: block;margin: 0 auto;}
.msgPopupText {padding: 0.15rem 0.3rem 0.4rem;}
.msgPopupText p {font-size: 0.28rem;color: #333333;text-align: center;line-height: 0.5rem;}
.msgPopupText .my-p1 {font-size: 0.26rem;color: #868686;text-align: justify;line-height: 0.32rem;padding: 0.1rem 0.15rem 0;}
.msgPopupTitle {font-size: 0.32rem;color: #333;text-align: center;margin-bottom: 0.2rem;}
.msgPopupBtn {display: flex;flex-direction: row;}
.msgPopupBtn input[type=button] {flex: 1;border: none;height: 0.88rem;font-size: 0.32rem;color: #868686;letter-spacing: 1px;background-color: #fff;border-top: 1px solid #eee;text-align: center;line-height: 0.88rem;}
.msgPopupBtn input[type=button]:nth-child(2) {border-left: 1px solid #eee;}
.msgPopupActivn {color: #2dcdb0 !important;font-weight: bold;}
.msgPopupsingle {background-color: #7a6af6 !important;border-top: 1px solid #7a6af6 !important;color: #fff !important;}